@charset 'UTF-8';
@font-face
{
    font-family: PTSansCaptionBold;
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/PTSansCaptionBold/ptsanscaptionbold.eot');
    src: url('../fonts/PTSansCaptionBold/ptsanscaptionbold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSansCaptionBold/ptsanscaptionbold.woff') format('woff'), url('../fonts/PTSansCaptionBold/ptsanscaptionbold.ttf') format('truetype'), url('../fonts/PTSansCaptionBold/ptsanscaptionbold.svg#PTSansCaptionBold') format('svg');
}

@font-face
{
    font-family: PTSansCaptionRegular;
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/PTSansCaptionRegular/ptsanscaptionregular.eot');
    src: url('../fonts/PTSansCaptionRegular/ptsanscaptionregular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSansCaptionRegular/ptsanscaptionregular.woff') format('woff'), url('../fonts/PTSansCaptionRegular/ptsanscaptionregular.ttf') format('truetype'), url('../fonts/PTSansCaptionRegular/ptsanscaptionregular.svg#PTSansCaptionRegular') format('svg');
}

@font-face
{
    font-family: RobotoBold;
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/RobotoBold/robotobold.eot');
    src: url('../fonts/RobotoBold/robotobold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoBold/robotobold.woff') format('woff'), url('../fonts/RobotoBold/robotobold.ttf') format('truetype'), url('../fonts/RobotoBold/robotobold.svg#RobotoBold') format('svg');
}

@font-face
{
    font-family: TimesNewRomanRegular;
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/TimesNewRomanRegular/timesnewromanregular.eot');
    src: url('../fonts/TimesNewRomanRegular/timesnewromanregular.eot?#iefix') format('embedded-opentype'), url('../fonts/TimesNewRomanRegular/timesnewromanregular.woff') format('woff'), url('../fonts/TimesNewRomanRegular/timesnewromanregular.ttf') format('truetype'), url('../fonts/TimesNewRomanRegular/timesnewromanregular.svg#TimesNewRomanRegular') format('svg');
}

/*===== colors =====*/
/*===== fonts =====*/
*
{
    margin: 0;
    padding: 0;
}

.clearfix
{
    clear: both;
}
.clearfix:after
{
    display: block;
    clear: both; 

    content: '';
}
.clearfix:before
{
    display: block;
    clear: both; 

    content: '';
}

.inline
{
    display: inline-block;
}

.left
{
    float: left;
}

/*===== main styles =====*/
a
{
    transition: .3s; 
    text-decoration: none;
}

.container
{
    max-width: 1110px;
    margin: 0 auto;
}

.border_top
{
    background: url('../img/border.png');
    background-repeat: repeat-x;
}

.title_section
{
    font-family: PTSansCaptionBold, Arial, sans-serif;
    font-size: 28px; 

    text-align: center;
    text-transform: uppercase;

    color: #4d4c4c;
}
.title_section:after
{
    display: block;

    width: 32px;
    height: 4px; 
    margin: 23px auto 0 auto;

    content: '';

    background-image: url('../img/section_before_header.svg');
    background-repeat: no-repeat;
}

/*===== header =====*/
.header_top
{
    height: 115px;
}

.header_menu
{
    padding: 32px 0 21px 0;

    text-align: center;
}
.header_menu__item
{
    font-family: PTSansCaptionBold, Arial, sans-serif;
    font-size: 14px;

    margin-right: 44px; 

    text-transform: uppercase;

    color: #4d4c4c;
}
.header_menu__item:last-child
{
    margin-right: 0;
}
.header_menu__item:hover
{
    color: #333;
}
.header_menu__item--active
{
    color: #333;
}

/*===== inform =====*/
.inform
{
    font-family: TimesNewRomanRegular, Times, serif; 

    height: 570px;

    text-align: center;

    background: url('../img/info_bg.jpg');
    background-position: center -250px;
    background-size: cover;
}
.inform__dark
{
    height: 100%; 

    background-color: rgba(0, 0, 0, .6);
}
.inform__title
{
    font-size: 48px;
    font-weight: 400;

    padding: 165px 0 25px 0; 

    text-transform: uppercase;

    color: #fff;
}
.inform__descr
{
    line-height: 24px; 

    color: #fff;
}
.inform__btn_contr
{
    margin-top: 43px;
}
.inform__more_inf
{
    font-family: PTSansCaptionBold, Arial, sans-serif;
    font-size: 14px; 
    line-height: 46px;

    display: inline-block;

    margin-right: 15px;
    padding: 0 60px 0 34px;

    text-transform: uppercase;

    color: #fff;
    border: 2px solid #009ade;
    border-radius: 2px;
    background: url('../img/inform_more_btn.svg');
    background-repeat: no-repeat;
    background-position: 126px center;
    background-size: 12px 11px;
}
.inform__more_inf:hover
{
    border: 2px solid #5fceff;
    background-position: 130px center;
}
.inform__dealer
{
    font-family: PTSansCaptionBold, Arial, sans-serif;
    font-size: 14px;
    line-height: 50px;

    display: inline-block;

    margin-left: 15px;
    padding: 0 30px 0 30px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 2px;
    background-color: #8cb623;
}
.inform__dealer:hover
{
    background-color: #a9d834;
}

/*===== news =====*/
.news__title
{
    padding-top: 84px;
}

.news_menu
{
    font-family: PTSansCaptionRegular, Arial, sans-serif;

    margin: 42px 0 37px 0; 

    text-align: center;
}
.news_menu__item
{
    font-size: 13px;

    margin-right: 40px; 

    text-transform: uppercase;

    color: #767676;
}
.news_menu__item:last-child
{
    margin-right: 0;
}
.news_menu__item:hover
{
    color: #8cb623;
}
.news_menu__item--active
{
    color: #8cb623;
}

.news_articles
{
    display: flex;

    margin-bottom: 119px; 

    justify-content: space-between;
    flex-wrap: wrap;
}
.news_articles__article
{
    width: 350px;
    margin: 0 auto; 
    padding-bottom: 23px;

    transition: .3s;
    text-align: center;
}
.news_articles__article:hover
{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
}
.news_articles__content
{
    padding: 0 10px;
}
.news_articles__img
{
    width: 100%;
    height: 210px;
}
.news_articles__title
{
    font-family: PTSansCaptionBold, Arial, sans-serif;
    font-size: 15px;

    padding: 13px 0 18px 0;

    text-transform: uppercase;

    color: #4d4c4c;
}
.news_articles__tags
{
    margin-bottom: 20px;
}
.news_articles__tag
{
    font-family: PTSansCaptionBold, Arial, sans-serif; 
    font-size: 10px;

    text-transform: uppercase;

    color: #4d4c4c;
}
.news_articles__tag:hover
{
    color: #9a9898;
}
.news_articles__tag:before
{
    margin-right: 2px; 

    content: '•';
}
.news_articles__text
{
    font-family: PTSansCaptionRegular, Arial, sans-serif;
    font-size: 13px;

    color: #8f8f8f;
}
.news_articles__read_more
{
    font-family: PTSansCaptionBold, Arial, sans-serif;
    font-size: 13px;

    display: inline-block;

    margin-top: 20px;
    padding-right: 20px;

    text-transform: uppercase;

    color: #04a2e8;
    background-image: url('../img/articles/article_arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 9px 8px;
}
.news_articles__read_more:hover
{
    text-decoration: underline;
}

/*===== chose_city =====*/
.chose_city
{
    position: relative; 

    height: 300px;

    text-align: center;
}
.chose_city__title
{
    font-family: RobotoBold, Arial, sans-serif;
    font-size: 26px;

    padding: 75px 0 30px 0; 

    text-transform: uppercase;

    color: #404040;
}
.chose_city__btn
{
    font-family: PTSansCaptionBold, Arial, sans-serif;
    font-size: 14px;
    line-height: 50px;

    display: inline-block;

    padding: 0 45px;

    color: #fff;
    border-radius: 2px; 
    background-color: #04a2e8;
}
.chose_city__btn:hover
{
    background-color: #24b9fb;
}
.chose_city__map
{
    position: absolute;
    z-index: -999; 
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/*===== statistic =====*/
.statistic
{
    width: 100%;
    height: 305px;

    background-image: url('../img/info_bg_blur.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover cover;
}
.statistic__dark
{
    width: 100%; 
    height: 100%;

    background-color: rgba(0, 0, 0, .7);
}
.statistic__container
{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}
.statistic__criterion
{
    width: 225px;
    margin: 0 auto; 
    margin-top: 70px;
}
.statistic__title
{
    font-family: PTSansCaptionBold, Arial, sans-serif;
    font-size: 45px;

    position: relative; 

    display: inline-block;

    padding-left: 65px;
}
.statistic__title--green
{
    color: #afd63d;
}
.statistic__title--green:before
{
    position: absolute;
    top: 77px; 
    left: 0;

    display: inline-block;

    width: 32px;
    height: 4px;

    content: '';

    background-image: url('../img/statistic/blue_line.svg');
}
.statistic__title--blue
{
    color: #60c7f5;
}
.statistic__title--blue:before
{
    position: absolute;
    top: 77px; 
    left: 0;

    display: inline-block;

    width: 32px;
    height: 4px;

    content: '';

    background-image: url('../img/statistic/green_line.svg');
}
.statistic__text
{
    font-family: PTSansCaptionBold, Arial, sans-serif; 
    font-size: 16px;

    margin-top: 55px;

    text-transform: uppercase;

    color: #fff;
}
.statistic__title--years
{
    background-image: url('../img/statistic/years.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
}
.statistic__title--ready
{
    background-image: url('../img/statistic/ready.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
}
.statistic__title--region
{
    background-image: url('../img/statistic/region.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
}
.statistic__title--grow
{
    background-image: url('../img/statistic/grow.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
}

/*===== advantages =====*/
.advantages__title
{
    padding-top: 80px;
}
