/*===== colors =====*/

$col-header-menu: #4d4c4c
$col-header-menu--active: #333333

$col-inform-title: #ffffff
$col-inform-descr: #ffffff
$col-inform-more-btn: #009ade
$col-inform-more-btn-txt: #ffffff
$col-inform-dealer-btn: #8cb623
$col-inform-dealer-btn-txt: #ffffff

$col-title-section: #4d4c4c

$col-news-menu-item: #767676
$col-news-menu-hover: #8cb623

$col-article-title: #4d4c4c
$col-article-tag: #4d4c4c
$col-article-text: #8f8f8f
$col-article-read: #04a2e8

$col-statistic-title-green: #afd63d
$col-statistic-title-blue: #60c7f5
$col-statistic-text: #ffffff

$col-advantage-text: #8f8f8f
$col-advantage-rhombus: #009ade
$col-advantage-circle: #8cb623

$col-chose-city-title: #404040
$col-chose-city-btn: #04a2e8
$col-chose-city-btn-txt: #ffffff

$col-footer-form-bg: #ffffff
$col-footer-form-header: #404040
$col-footer-form-input-bg: #fdfdfd
$col-footer-form-border: #f6f6f6
$col-footer-form-border-active: #04a2e8
$col-footer-form-button: #009ade
$col-footer-form-button-bg: #ffffff
$col-footer-form-more-inf: #666666
$col-footer-bg: #404040
$col-footer-cont-img-bg: #04a2e8
$col-footer-cont-font: #e1e1e1
$col-footer-menu-item: #e1e1e1
$col-footer-menu-item-hover: #009ade
$col-footer-soc-hover: #04a2e8
$col-footer-soc-bg: #636363

/*===== fonts =====*/

$font-pt-sans-bold: PTSansCaptionBold, Arial, sans-serif
$font-pt-sans-reg: PTSansCaptionRegular, Arial, sans-serif
$font-roboto-bold: RobotoBold, Arial, sans-serif
$font-tnr: TimesNewRomanRegular, Times, serif

