@import '_fonts.sass'
@import '_variables.sass'
@import '_settings.sass'

/*===== main styles =====*/

a
  text-decoration: none
  transition: .3s

.container
  max-width: 1110px
  margin: 0 auto

.border_top
  background: url('../img/border.png')
  background-repeat: repeat-x

.title_section
  text-align: center
  text-transform: uppercase
  color: $col-title-section
  font-family: $font-pt-sans-bold
  font-size: 28px
  &:after
    content: ''
    display: block
    margin: 23px auto 0 auto
    background-image: url('../img/section_before_header.svg')
    background-repeat: no-repeat
    width: 32px
    height: 4px

/*===== header =====*/

.header_top
  height: 115px

.header_menu
  padding: 32px 0 21px 0
  text-align: center
  &__item
    text-transform: uppercase
    color: $col-header-menu
    font-size: 14px
    font-family: $font-pt-sans-bold
    margin-right: 44px
    &:last-child
      margin-right: 0
    &:hover
      color: $col-header-menu--active
  &__item--active
    color: $col-header-menu--active

/*===== inform =====*/

.inform
  text-align: center
  height: 570px
  background: url('../img/info_bg.jpg')
  background-size: cover
  background-position: center -250px
  font-family: $font-tnr
  &__dark
    background-color: rgba(0,0,0,.6)
    height: 100%
  &__title
    text-transform: uppercase
    font-size: 48px
    font-weight: 400
    color: $col-inform-title
    padding: 165px 0 25px 0
  &__descr
    color: $col-inform-descr
    line-height: 24px
  &__btn_contr
    margin-top: 43px
  &__more_inf
    display: inline-block
    line-height: 46px
    text-transform: uppercase
    color: $col-inform-more-btn-txt
    padding: 0 60px 0 34px
    margin-right: 15px
    font-family: $font-pt-sans-bold
    border: 2px solid $col-inform-more-btn
    background: url('../img/inform_more_btn.svg')
    background-size: 12px 11px
    background-repeat: no-repeat
    background-position: 126px center
    border-radius: 2px
    font-size: 14px
    &:hover
      border: 2px solid lighten($col-inform-more-btn, 25%)
      background-position: 130px center
  &__dealer
    display: inline-block
    line-height: 50px
    font-size: 14px
    padding: 0 30px 0 30px
    margin-left: 15px
    text-transform: uppercase
    border-radius: 2px
    font-family: $font-pt-sans-bold
    color: $col-inform-dealer-btn-txt
    background-color: $col-inform-dealer-btn
    &:hover
      background-color: lighten($col-inform-dealer-btn, 10%)

/*===== news =====*/

.news
  &__title
    padding-top: 84px

.news_menu
  text-align: center
  font-family: $font-pt-sans-reg
  margin: 42px 0 37px 0
  &__item
    color: $col-news-menu-item
    text-transform: uppercase
    font-size: 13px
    margin-right: 40px
    &:last-child
      margin-right: 0
    &:hover
      color: $col-news-menu-hover
  &__item--active
    color: $col-news-menu-hover

.news_articles
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin-bottom: 119px
  &__article
    width: 350px
    text-align: center
    padding-bottom: 23px
    transition: .3s
    margin: 0 auto
    &:hover
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15)
  &__content
    padding: 0 10px
  &__img
    width: 100%
    height: 210px
  &__title
    font-size: 15px
    font-family: $font-pt-sans-bold
    padding: 13px 0 18px 0
    text-transform: uppercase
    color: $col-article-title
  &__tags
    margin-bottom: 20px
  &__tag
    text-transform: uppercase
    font-size: 10px
    color: $col-article-tag
    font-family: $font-pt-sans-bold
    &:hover
      color: lighten($col-article-tag, 30%)
    &:before
      content: '•'
      margin-right: 2px
  &__text
    font-size: 13px
    font-family: $font-pt-sans-reg
    color: $col-article-text
  &__read_more
    color: $col-article-read
    text-transform: uppercase
    font-size: 13px
    font-family: $font-pt-sans-bold
    margin-top: 20px
    display: inline-block
    padding-right: 20px
    background-image: url('../img/articles/article_arrow.svg')
    background-repeat: no-repeat
    background-position: right center
    background-size: 9px 8px
    &:hover
      text-decoration: underline

/*===== chose_city =====*/

.chose_city
  text-align: center
  height: 300px
  position: relative
  &__title
    text-transform: uppercase
    font-size: 26px
    font-family: $font-roboto-bold
    color: $col-chose-city-title
    padding: 75px 0 30px 0
  &__btn
    background-color: $col-chose-city-btn
    display: inline-block
    line-height: 50px
    color: $col-chose-city-btn-txt
    font-family: $font-pt-sans-bold
    font-size: 14px
    padding: 0 45px
    border-radius: 2px
    &:hover
      background-color: lighten($col-chose-city-btn, 10%)
  &__map
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: -999

/*===== statistic =====*/

.statistic
  height: 305px
  width: 100%
  background-image: url('../img/info_bg_blur.jpg')
  background-repeat: no-repeat
  background-size: cover cover
  background-attachment: fixed 
  &__dark
    background-color: rgba(0,0,0,.7)
    height: 100%
    width: 100%
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__criterion
    width: 225px
    margin-top: 70px
    margin: 0 auto
  &__title
    font-size: 45px
    font-family: $font-pt-sans-bold
    padding-left: 65px
    display: inline-block
    position: relative
  &__title--green
    color: $col-statistic-title-green
    &:before
      content: ''
      display: inline-block
      width: 32px
      height: 4px
      background-image: url('../img/statistic/blue_line.svg')
      position: absolute
      left: 0
      top: 77px
  &__title--blue
    color: $col-statistic-title-blue
    &:before
      content: ''
      display: inline-block
      width: 32px
      height: 4px
      background-image: url('../img/statistic/green_line.svg')
      position: absolute
      left: 0
      top: 77px
  &__text
    color: $col-statistic-text
    text-transform: uppercase
    margin-top: 55px
    font-size: 16px
    font-family: $font-pt-sans-bold
  &__title--years
    background-image: url('../img/statistic/years.svg')
    background-repeat: no-repeat
    background-position: 0 center
  &__title--ready
    background-image: url('../img/statistic/ready.svg')
    background-repeat: no-repeat
    background-position: 0 center
  &__title--region
    background-image: url('../img/statistic/region.svg')
    background-repeat: no-repeat
    background-position: 0 center
  &__title--grow
    background-image: url('../img/statistic/grow.svg')
    background-repeat: no-repeat
    background-position: 0 center

/*===== advantages =====*/

.advantages
  &__title
    padding-top: 80px
